{% extends 'contest/contest-base.html' %}
{% set page_title = '统计' %}
{% set page_name = 'statistics' %}
{% block contest_content %}
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small">
            <thead>
                <tr>
                    <th width="20" noWrap>#</th>
                    <th noWrap>AC</th>
                    <th noWrap>PE</th>
                    <th noWrap>WA</th>
                    <th noWrap>TLE</th>
                    <th noWrap>MLE</th>
                    <th noWrap>OLE</th>
                    <th noWrap>RE</th>
                    <th noWrap>CE</th>
                    <th noWrap>TOTAL</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>A</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>-</td>
                    <td>0</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}