{% extends 'contest/contest-base.html' %}
{% set page_title = '题目' %}
{% set page_name = 'problemset' %}
{% block contest_content %}
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
      <thead>
      <tr>
        <th width="10">AC</th>
        <th width="25">#</th>
        <th>题目</th>
        <th>解答/总人数</th>
      </tr>
      </thead>
      <tbody>
      {% for problem in problem_list %}
      <tr>
        <td class="uk-text-success">{% if accepted_count[problem.index] > 0 %}√{% endif %}</td>
        <td>{{ problem.index|num_to_abc }}</td>
        <td><a href="{{ url("contest_problem", problem.id) }}">{{ problem.title }}</a></td>
        <td>{{ problem.accepted }} / {{ problem.submit }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}