{% extends 'base.html' %}
{% set active_page = 'contest' %}
{% block title %}比赛列表{% endblock %}
{% block content %}
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <img class="poster-girl" src="/static/img/corner.png">
    <div class="fix-float-bug">
      <h2 class="uk-display-inline-block uk-margin-remove-bottom">比赛列表</h2>
      <div class="uk-align-right uk-margin-remove-bottom">
        {% include 'pagination.html' %}
      </div>
    </div>
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-small uk-table-hover">
        <thead>
        <tr>
          <th>#</th>
          <th>比赛名称</th>
          <th>开始时间</th>
          <th>结束时间</th>
          <th>类型</th>
        </tr>
        </thead>
        <tbody>
        {% for contest in page %}
        <tr>
          <td>{{ contest.id }}</td>
          <td noWrap><a href="{{ url("contest_overview", contest.id) }}">{{ contest.title }}</a></td>
          <td noWrap>{{ contest.start_time|localtime|date("Y/m/d H:i:s") }}</td>
          <td noWrap>{{ contest.end_time|localtime|date("Y/m/d H:i:s") }}</td>
          {% if contest.contest_type == 0 %}
            {% set type_class = 'uk-text-success' %}
            {% set type_text = '公开' %}
          {% else %}
            {% set type_class = 'uk-text-warning' %}
            {% set type_text = '非公开' %}
          {% endif %}
          <td class="{{ type_class }}">
            {{ type_text }}
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}