{% extends 'contest/contest-base.html' %}
{% set page_title = '题目' %}
{% set page_name = 'problemset' %}
{% block contest_content %}
    <div class="uk-overflow-auto">
        <table class="uk-table uk-table-small">
            <thead>
                <tr>
                    <th width="10">AC</th>
                    <th width="25">#</th>
                    <th>题目</th>
                    <th>解答/总人数</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>√</td>
                    <td>A</td>
                    <td>A+B Problem</td>
                    <td>12/20</td>
                </tr>
                <tr>
                    <td></td>
                    <td>B</td>
                    <td>分解质因数</td>
                    <td>6/20</td>
                </tr>
                <tr>
                    <td></td>
                    <td>C</td>
                    <td>Rectangular Polygons</td>
                    <td>3/20</td>
                </tr>
            </tbody>
        </table>
    </div>
{% endblock %}