{% extends 'contest/contest-base.html' %}
{% set page_title = '排行' %}
{% set page_name = 'ranklist' %}
{% block contest_content %}
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
      <thead>
      <tr>
        <th width="20" noWrap>#</th>
        <th noWrap>用户</th>
        <th noWrap>AC</th>
        <th noWrap>罚时</th>
        <th noWrap>A</th>
        <th noWrap>B</th>
        <th noWrap>C</th>
        <th noWrap>D</th>
        <th noWrap>E</th>
        <th noWrap>F</th>
        <th noWrap>G</th>
        <th noWrap>H</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>排名尚未实现</td>
        <td>1</td>
        <td>00:30:20</td>
        <td>00:30:20(-1)</td>
        <td>00:30:20</td>
        <td>00:30:20</td>
        <td>00:30:20</td>
        <td>00:30:20(-2)</td>
        <td>00:30:20</td>
        <td>00:30:20</td>
        <td>00:30:20</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}