{% extends 'contest/contest-base.html' %}
{% set page_title = '状态' %}
{% set page_name = 'status' %}
{% block contest_content %}
  <div class="fix-float-bug">
    <div class="uk-align-right uk-margin-remove-bottom">
      {% include 'pagination.html' %}
    </div>
  </div>
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
      <thead>
      <tr>
        <th width="25">#</th>
        <th>用户</th>
        <th>题号</th>
        <th>语言</th>
        <th>耗时</th>
        <th>内存</th>
        <th>结果</th>
        <th>提交时间</th>
      </tr>
      </thead>
      <tbody>
      {% for status in page.object_list %}
      <tr>
        <td>{{ status.id }}</td>
        <td noWrap><a href="{{ url('user_info', status.user.id) }}">{{ status.user.username }}</a></td>
        <td><a href="{{ url('contest_problem', status.problem.id) }}">{{ status.problem.index|num_to_abc }}</a></td>
        <td>{{ status.language|language_to_text }}</td>
        <td>
          {% if status.time != None %}
          {{ status.time }}ms
          {% else %}
          --
          {% endif %}
        </td>
        <td>{{ status.memory }}KB</td>
        <td class="{% if status.result == 0 %}uk-text-success{% else %}uk-text-danger{% endif %}" noWrap>{{ status.result|result_to_text }}</td>
        <td noWrap>{{ status.submit_date|localtime|date("Y/m/d H:i") }}</td>
      </tr>
      {% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}