{% extends 'contest/contest-base.html' %}
{% set page_title = '排行' %}
{% set page_name = 'ranklist' %}
{% block contest_content %}
  <div class="uk-overflow-auto">
    <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
      <thead>
      <tr>
        <th width="20" noWrap>#</th>
        <th noWrap>用户</th>
        <th noWrap>AC</th>
        <th noWrap>罚时</th>
        <th noWrap>A</th>
        <th noWrap>B</th>
      </tr>
      </thead>
      <tbody>
      <tr>
        <td>1</td>
        <td>喵喵</td>
        <td>2</td>
        <td>1</td>
        <td>00:10:18</td>
        <td>00:15:37(-1)</td>
      </tr>
      </tbody>
    </table>
  </div>
{% endblock %}