{% extends 'base.html' %}
{% set active_page = '' %}
{% block title %}管理后台{% endblock %}
{% block content %}
  <div class="uk-grid uk-grid-small" uk-grid>
    <div class="uk-width-4-5@m uk-width-1-1@s">
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          导航
        </div>
      </div>
    </div>

    <div class="uk-width-1-5@m uk-width-1-1@s">
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          {% block admin_content %}内容{% endblock %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}