{% extends 'base.html' %}
{% set active_page = 'problemset' %}
{% block title %}题目搜索{% endblock %}
{% block content %}
  <div class="uk-grid uk-grid-small" uk-grid>
    <div class="uk-width-1-1">
      <div>
        <div class="uk-card uk-card-default uk-card-small uk-card-body">
          <img class="poster-girl" src="/static/img/corner.png">
          <div>
            <div class="fix-float-bug">
              <h2 class="uk-display-inline-block uk-margin-remove-bottom">搜索结果</h2>
              <div class="uk-align-right uk-margin-remove-bottom">
                {% include 'pagination.html' %}
              </div>
            </div>
            <div class="uk-overflow-auto">
              <table class="uk-table uk-table-divider uk-table-small uk-table-hover">
                <thead>
                <tr>
                  <th>#</th>
                  <th>题目</th>
                  <th>来源</th>
                  <th>难度</th>
                  <th>通过率</th>
                </tr>
                </thead>
                <tbody>
                {% for problem in page.object_list %}
                <tr>
                  <td>{{ problem.id }}</td>
                  <td>
                    <a href="{{ url("problem", problem.id) }}">{{ problem.title }}</a>
                    {% for tag in problem.tags.all() %}
                      <span class="uk-text-meta" style="font-size: 11px">{{ tag.name }}</span>
                    {% endfor %}
                  </td>
                  <td>{{ problem.source }}</td>
                  <td>{{ problem.difficulty | difficulty_to_text }}</td>
                  <td>{{ problem.acrate | round(2, 'common') }} %</td>
                </tr>
                {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}