<footer class="footer uk-margin-medium-top uk-light">
    <div class="uk-container">
        <div class="footer-left">
            Server Time: 0000/00/00 00:00:00
            <br />
            <a href="#">关于</a>
            <a href="#">帮助</a>
            <a href="#">联系</a>
        </div>
        <div class="footer-right">
            Powered by <a href="https://github.com/ShadowPower/MoeOJ/">Moe Online Judge</a>.<br/>
            Copyright 2017 © ShadowPower.
        </div>
    </div>
</footer>