{% extends 'base.html' %}
{% block title %}{{ oj_title }}{% endblock %}
{% block content %}
  <p class="uk-margin-medium uk-text-lead uk-light">
    欢迎来到{{ oj_title }}~<br>
    注意：尚未完工
  </p>
  <div class="uk-grid uk-child-width-1-1@l uk-child-width-1-1@m uk-child-width-1-1@s uk-grid-small" uk-grid>
    {% for notice in notices %}
    <div>
      <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <h3 class="uk-panel-title uk-margin-remove">{{ notice.title }}</h3>
        <p class="uk-text-meta uk-margin-remove-top uk-margin-small-bottom">{{ notice.author.username }} {{ notice.created_at|localtime|date("Y/m/d H:i") }}</p>
        {{ notice.body }}
      </div>
    </div>
    {% endfor %}
  </div>
{% endblock %}