<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <meta charset="UTF-8">
    <title>Moe Online Judge</title>
    <link href="/static/css/uikit.css" rel="stylesheet" type="text/css">
    <link href="/static/css/style.css" rel="stylesheet" type="text/css">
    <script src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script src="/static/js/uikit.js"></script>
</head>
<body>
<div class="background" id="background">
</div>
<nav class="uk-navbar-container uk-navbar-transparent uk-margin-bottom uk-light" uk-navbar>
    <div class="uk-navbar-left">
        <ul class="uk-navbar-nav">
            <li><a href="problemset/">
                <div>
                    问题
                    <div class="uk-navbar-subtitle">
                        Problem Set
                    </div>
                </div>
            </a></li>
            <li><a href="status/">
                <div>
                    状态
                    <div class="uk-navbar-subtitle">
                        Status
                    </div>
                </div>
            </a></li>
            <li><a href="rank/">
                <div>
                    排名
                    <div class="uk-navbar-subtitle">
                        Rank
                    </div>
                </div>
            </a></li>
            <li><a href="contest/">
                <div>
                    比赛
                    <div class="uk-navbar-subtitle">
                        Contest
                    </div>
                </div>
            </a></li>
        </ul>
    </div>

    <div class="uk-navbar-center">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="/" style="font-size: 30px;">Moe Online Judge</a></li>
        </ul>
    </div>

    <div class="uk-navbar-right">
        <ul class="uk-navbar-nav">
            <li class="uk-active"><a href="#">登录</a></li>
            <li class="uk-active"><a href="#">注册</a></li>
        </ul>
    </div>
</nav>

<div class="uk-container">
    <p class="uk-margin-medium uk-text-lead uk-light">
        欢迎来到Moe Online Judge~<br>
        注意：尚未完工
    </p>

    <div class="uk-child-width-1-2@l uk-child-width-1-2@m uk-child-width-1-1@s uk-grid-small" uk-grid>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-panel-title">MoeOJ上线了！！！</h3>
                MoeOJ正式上线啦！<br>
                太好了
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-panel-title">通知</h3>
                <p>新增了几道题目。</p>
            </div>
        </div>
        <div>
            <div class="uk-card uk-card-default uk-card-body">
                <h3 class="uk-panel-title">如果标题非常长的话会发生怎样的事情呢</h3>
                祝大家新年快乐！<br>
                换行测试
                <p>新段落测试</p>
            </div>
        </div>
    </div>

    <footer class="uk-margin-medium uk-light">
        <div class="uk-text-meta uk-text-right uk-align-right uk-margin-remove-bottom">
            Powered by MoeOJ.<br/>
            Copyright 2017 © ShadowPower.
        </div>
    </footer>
</div>
<script src="/static/js/oj.js"></script>
</body>
</html>