{% set navigation_bar = [
    (url("problemset"), 'problemset', '问题', 'Problem Set'),
    (url("status"), 'status', '状态', 'Status'),
    (url("rank"), 'rank', '排名', 'Rank'),
    (url("contest"), 'contest', '比赛', 'Contest'),
] -%}

<nav class="uk-navbar uk-navbar-container uk-navbar-transparent uk-margin-bottom uk-light" uk-navbar="mode: click">
  <div class="uk-navbar-left uk-visible@m">
    <ul class="uk-navbar-nav">
      {% for href, id, caption, sub_caption in navigation_bar %}
        <li {% if id == active_page %} class="uk-active"{% endif %}><a href="{{ href }}">
          <div>
            {{ caption }}
            <div class="uk-navbar-subtitle">
              {{ sub_caption }}
            </div>
          </div>
        </a></li>
      {% endfor %}
    </ul>
  </div>

  <div class="uk-navbar-center">
    <ul class="uk-navbar-nav">
      <li class="uk-active">
        <a class="uk-text-capitalize" href="{{ url("index") }}" style="font-size: 30px;">{{ oj_title }}</a>
      </li>
    </ul>
  </div>

  <div class="uk-navbar-right uk-visible@m">
    <ul class="uk-navbar-nav">
      {% if not request.user.is_authenticated() %}
        <li class="uk-active"><a href="{{ url("login") }}">
          <div>
            登录
            <div class="uk-navbar-subtitle">
              Login
            </div>
          </div></a></li>
        <li class="uk-active"><a href="{{ url("register") }}">
          <div>
            注册
            <div class="uk-navbar-subtitle">
              Register
            </div>
          </div></a></li>
      {% else %}
        <li class="uk-active"><a href="#">
          <div>
            {{ request.user.username }}
            <div class="uk-navbar-subtitle">
              User
            </div>
          </div>
        </a>
          <div class="uk-navbar-dropdown fix-right-dropdown-bug uk-margin-remove-top">
            <ul class="uk-nav uk-navbar-dropdown-nav">
              <li class="uk-nav-header">用户中心</li>
              <li class="uk-active"><a href="{{ url("modify-user-info") }}">修改用户信息</a></li>
              <li class="uk-nav-divider"></li>
              <li class="uk-active"><a href="{{ url("logout") }}?from={{ request.get_full_path() }}">注销</a></li>
            </ul>
          </div>
        </li>
      {% endif %}
    </ul>
  </div>

  <div class="uk-navbar-right uk-hidden@m">
    <ul class="uk-navbar-nav">
      <li>
        <a class="uk-navbar-toggle" uk-navbar-toggle-icon></a>
        <div class="uk-navbar-dropdown fix-right-dropdown-bug uk-margin-remove-top">
          <ul class="uk-nav uk-navbar-dropdown-nav">
            <li class="uk-nav-header">功能</li>
            {% for href, id, caption, sub_caption in navigation_bar %}
              <li {% if id == active_page %} class="uk-active"{% endif %}>
                <a href="{{ href }}">{{ caption }}</a>
              </li>
            {% endfor %}
            <li class="uk-nav-divider"></li>
            {% if not request.user.is_authenticated() %}
              <li class="uk-active"><a href="{{ url("login") }}">登录</a></li>
              <li class="uk-active"><a href="{{ url("register") }}">注册</a></li>
            {% else %}
              <li class="uk-nav-header">账号管理</li>
              <li class="uk-active"><a href="{{ url("modify-user-info") }}">修改用户信息</a></li>
              <li class="uk-active"><a href="{{ url("logout") }}?from={{ request.get_full_path }}">注销</a></li>
            {% endif %}
          </ul>
        </div>
      </li>
    </ul>
  </div>
</nav>