<ul class="uk-pagination uk-margin-remove" uk-margin>
  <li><a href="#"><span uk-pagination-previous></span></a></li>
  <li class="uk-visible@m"><a href="#">1</a></li>
  <li class="uk-disabled uk-visible@m"><span>...</span></li>
  <li class="uk-visible@m"><a href="#">4</a></li>
  <li class="uk-visible@m"><a href="#">5</a></li>
  <li class="uk-visible@m"><a href="#">6</a></li>
  <li class="uk-active"><a id="change-pagination" href="#">7</a></li>
  <li class="uk-visible@m"><a href="#">8</a></li>
  <li class="uk-visible@m"><a href="#">9</a></li>
  <li class="uk-visible@m"><a href="#">10</a></li>
  <li class="uk-disabled uk-visible@m"><span>...</span></li>
  <li class="uk-visible@m"><a href="#">20</a></li>
  <li><a href="#"><span uk-pagination-next></span></a></li>
</ul>