{# 前方省略号起始页码 #}
{% set start_from = 2 %}
{% if page.number - 3 > 2 %}
{% set start_from = page.number - 3 %}
{% endif %}
{# 后方省略号起始页码 #}
{% set end_to = num_pages %}
{% if num_pages - page.number > 3 %}
{% set end_to = page.number + 4 %}
{% endif %}

<ul class="uk-pagination uk-margin-remove" uk-margin>
{% if page.has_previous() %}
  <li><a href="{{ gets_no_page }}page={{ page.previous_page_number() }}"><span uk-pagination-previous></span></a></li>
{% endif %}
{% if page.number != 1 %}
  <li class="uk-visible@m"><a href="{{ gets_no_page }}page=1">1</a></li>
{% endif %}
{% if page.number > 5 %}
  <li class="uk-disabled uk-visible@m"><span>...</span></li>
{% endif %}
{% for i in range(start_from, page.number) %}
  <li class="uk-visible@m"><a href="{{ gets_no_page }}page={{ i }}">{{ i }}</a></li>
{% endfor %}
  <li class="uk-active"><a id="change-pagination" href="#">{{ page.number }}</a></li>
{% for i in range(page.number + 1 , end_to) %}
  <li class="uk-visible@m"><a href="{{ gets_no_page }}page={{ i }}">{{ i }}</a></li>
{% endfor %}
{% if num_pages - page.number > 4 %}
  <li class="uk-disabled uk-visible@m"><span>...</span></li>
{% endif %}
{% if page.number != num_pages %}
  <li class="uk-visible@m"><a href="{{ gets_no_page }}page={{ num_pages }}">{{ num_pages }}</a></li>
{% endif %}
{% if page.has_next() %}
  <li><a href="{{ gets_no_page }}page={{ page.next_page_number() }}"><span uk-pagination-next></span></a></li>
{% endif %}
</ul>