{% extends 'base.html' %}
{% set active_page = 'problemset' %}
{% block title %}题目列表{% endblock %}
{% block content %}
    <div class="uk-grid uk-grid-small" uk-grid>
        <div class="uk-width-4-5@m uk-width-1-1@s">
            <div>
                <div class="uk-card uk-card-default uk-card-small uk-card-body">
                    <img class="poster-girl" src="/static/img/corner.png">
                    <div>
                        <div class="fix-the-fucking-float">
                            <h2 class="uk-display-inline-block uk-margin-remove-bottom">题目列表</h2>
                            <div class="uk-align-right uk-margin-remove-bottom">
                                {% include 'pagination.html' %}
                            </div>
                        </div>
                        <div class="uk-overflow-auto">
                            <table class="uk-table uk-table-small">
                                <thead>
                                    <tr>
                                        <th>#</th>
                                        <th>题目</th>
                                        <th>难度</th>
                                        <th>通过率</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr>
                                        <td>1</td>
                                        <td>A+B Problem</td>
                                        <td>简单</td>
                                        <td>30%</td>
                                    </tr>
                                    <tr>
                                        <td>2</td>
                                        <td>分解质因数</td>
                                        <td>中等</td>
                                        <td>100%</td>
                                    </tr>
                                    <tr>
                                        <td>11111</td>
                                        <td>Rectangular Polygons</td>
                                        <td>困难</td>
                                        <td>50%</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="uk-width-1-5@m uk-width-1-1@s">
            <div class="uk-grid uk-grid-small uk-child-width-1-1@l" uk-grid>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-panel-title">搜索</h3>
                        <form class="uk-form-horizontal">
                            <input class="uk-input uk-margin-small-bottom" id="form-h-text" type="text" placeholder="想找什么喵？">
                            <br />
                            <button class="uk-button uk-button-danger uk-width-1-1" type="submit">搜索</button>
                        </form>
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-panel-title">排行</h3>
                        2jjy<br />
                        Chris<br />
                        BLumia<br />
                        ShadowPower<br />
                    </div>
                </div>
                <div>
                    <div class="uk-card uk-card-default uk-card-small uk-card-body">
                        <h3 class="uk-panel-title">标签</h3>
                        排序<br />
                        查找<br />
                        二叉树<br />
                    </div>
                </div>
            </div>
        </div>
    </div>
{% endblock %}