{% extends 'base.html' %}
{% set active_page = 'rank' %}
{% block title %}排名{% endblock %}
{% block content %}
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <img class="poster-girl" src="/static/img/corner.png">
    <div class="fix-float-bug">
      <h2 class="uk-display-inline-block uk-margin-remove-bottom">排行榜</h2>
      <div class="uk-align-right uk-margin-remove-bottom">
        {% include 'pagination.html' %}
      </div>
    </div>
    <div class="uk-overflow-auto">
      <table class="uk-table uk-table-small">
        <thead>
        <tr>
          <th>名次</th>
          <th>用户</th>
          <th>签名</th>
          <th>AC数</th>
          <th>提交数</th>
          <th>通过率</th>
        </tr>
        </thead>
        <tbody>
        {% for rank in page %}
        <tr>
          <td noWrap>{{ loop.index + (page.number - 1) * objects_per_page }}</td>
          <td noWrap>{{ rank.username }}</td>
          <td>{{ rank.about }}</td>
          <td noWrap>{{ rank.accepted_problem_number }}</td>
          <td noWrap>{{ rank.submission_number }}</td>
          <td noWrap>
            {% if rank.submission_number > 0 %}
              {{ (rank.accepted_problem_number * 100 / rank.submission_number) | round(2, 'common') }}
            {% else %}
              0
            {% endif %}
            %
          </td>
        </tr>
        {% endfor %}
        </tbody>
      </table>
    </div>
  </div>
{% endblock %}