{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% set container_class = 'max-width-480' %}
{% block content %}
    <div class="uk-card uk-card-default uk-card-small uk-card-body">
        <img class="poster-girl" src="/static/img/corner.png">
        <div>
            <h2 class="uk-text-center uk-margin-remove-bottom">注册</h2>
        </div>
        <div>
            <form class="uk-form-stacked">
                <div class="uk-margin">
                    <label class="uk-form-label" for="form-stacked-text">用户名</label>
                    <div class="uk-form-controls">
                        <input class="uk-input" id="form-stacked-text" type="text" placeholder="我叫绿豆糕，你呢？">
                    </div>
                </div>
                <div class="uk-margin">
                    <div class="uk-form-label">性别</div>
                    <div class="uk-form-controls">
                        <label><input class="uk-radio" type="radio" name="radio1"> 男孩子</label><br>
                        <label><input class="uk-radio" type="radio" name="radio1"> 女孩子</label>
                    </div>
                </div>
            </form>
        </div>
    </div>
{% endblock %}