{% extends 'base.html' %}
{% block title %}编辑个人资料{% endblock %}
{% set container_class = 'max-width-480' %}
{% block content %}
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <img class="poster-girl" src="/static/img/corner.png">
    <div>
      <h2 class="uk-text-center uk-margin-remove-bottom">改资料~</h2>
    </div>
    <div>
      <form class="uk-form-stacked">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">用户名</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="很高兴认识你，你叫什么名字呢？" value="{{ user.username }}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">邮箱 <span class="uk-text-meta">这个不能改啦</span></label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="email" placeholder="不能修改" value="{{ user.email }}" disabled>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">个性签名</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="写上一些中(dou)二(bi)的话吧~" value="{% if user.about != None %}{{ user.about }}{% endif %}" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">学校</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="你在哪里读书呢？" value="{{ user.school }}">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">学号</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" placeholder="知道学号就知道你是谁啦> <" value="{{ user.student_id }}">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">原密码</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" placeholder="为了防止路人路过的时候改了密码_(:3 」∠)_">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">新密码</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" placeholder="留空表示不变">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">确认密码</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" placeholder="要和上面的一样哦~">
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-form-label">性别 <span class="uk-text-meta">诶？你要更改性别？(≧▽≦)</span></div>
          <div class="uk-form-controls">
            <label><input class="uk-radio" id="boyOption" type="radio" name="gender" value="boy"> 男孩子</label>
            <label><input class="uk-radio" id="girlOption" type="radio" name="gender" value="girl"> 女孩子</label>
            <label><input class="uk-radio" id="futaOption" type="radio" name="gender" value="futa"> 其他</label>
          </div>
        </div>
        <div class="uk-margin">
          <button class="uk-button uk-button-primary uk-width-1-1" type="submit">同步</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}
{% block end_of_body %}
  <script>
      (function () {
          var gender = "{{ gender }}";
          String.prototype.inArray = function (list) {
              // 如果参数不是数组则转成数组
              list = (list instanceof Array)?list:[].slice.call(arguments);
              var exist = false;
              list.forEach(function (value, index, array) {
                  if (gender === value)
                      exist = true;
              });
              return exist;
          };

          if (gender.inArray(["boy", "girl", "futa"]))
              document.getElementById(gender + "Option").checked = true;
          else
              document.getElementById("boyOption").checked = true;
      })();
  </script>
{% endblock %}