{% extends 'base.html' %}
{% block title %}注册{% endblock %}
{% set container_class = 'max-width-480' %}
{% block content %}
  <div class="uk-card uk-card-default uk-card-small uk-card-body">
    <img class="poster-girl" src="/static/img/corner.png">
    <div>
      <h2 class="uk-text-center uk-margin-remove-bottom">注册</h2>
    </div>
    <div>
      <form class="uk-form-stacked" action="{{ url("register-post") }}" method="post">
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">用户名</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="username" placeholder="很高兴认识你，你叫什么名字呢？" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">邮箱</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="email" name="email" placeholder="你忘掉密码的话就靠它啦~" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">学校</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="school" placeholder="填上你的学校~">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">学号</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="text" name="student_id" placeholder="知道学号就知道你是谁啦> <">
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">密码</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" name="password" placeholder="不要让别人看到哦~" required>
          </div>
        </div>
        <div class="uk-margin">
          <label class="uk-form-label" for="form-stacked-text">确认密码</label>
          <div class="uk-form-controls">
            <input class="uk-input" id="form-stacked-text" type="password" name="confirm" placeholder="要和上面的一样哦~" required>
          </div>
        </div>
        <div class="uk-margin">
          <div class="uk-form-label">性别</div>
          <div class="uk-form-controls">
            <label><input class="uk-radio" type="radio" name="gender" value="boy" checked> 男孩子</label>
            <label><input class="uk-radio" type="radio" name="gender" value="girl"> 女孩子</label>
            <label><input class="uk-radio" type="radio" name="gender" value="futa"> 其他</label>
          </div>
        </div>
        {% csrf_token %}
        <div class="uk-margin">
          <button class="uk-button uk-button-primary uk-width-1-1" type="submit">签订契约</button>
        </div>
      </form>
    </div>
  </div>
{% endblock %}